.myDiv {
    position: relative;
    z-index: 1;
}

/*
.myDiv:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../images/wood_grayscale_planks_1920x120_2560x1600_artwallpaperhi.com.jpg') no-repeat scroll center center;
    opacity: .4;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: white;
}
*/

.myDiv .bg {
    position: absolute;
    z-index: -1;
    background: url('../images/74782dba2e8d3df37dbe7aced2273eb1.jpg') no-repeat scroll center center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: white;
}

.form-signin {
    width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.edit-page{
    width: 530px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

.has-error {
    color: red
}

.footer {
    padding: 40px 0;
    text-align: center;
}
footer {
    padding: 35px 0;
    text-align: center;
}
footer span.copyright {
    line-height: 40px;
    color: whitesmoke;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
}
footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
}
ul.social-buttons {
    margin-bottom: 0;
}
ul.social-buttons li a {
    display: block;
    background-color: gray;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: whitesmoke;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #00e3ff;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: none;
}


/*
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #E5E4E2;
}
*/

.dropdown select {
    background: transparent;
    width: 175px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border-color: darkgrey;
    box-sizing: border-box;
    height: 34px;
}